{% extends "mysite/base.html" %}
{% load staticfiles %}
{% block head %}
  <script src="{% static 'map/map.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV2LhPPs_xQ5olb_gmqTq3oYPCXYgTMjQ" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <article>
    <section class="title">
      <h2>弓具店分布图</h2>
    </section>
    
    <section class="map" style="width: 100%;height: 800px;">
      <div id="map" style="width: 100%;height: 100%;"></div>
    </section>
  </article>
{% endblock %}
	