<?xml version="1.0" encoding="UTF-8"?>
<urlset>
	{% for blog in blogs %}
<url>
<loc>http://{{path}}{{blog.path}}</loc>
<lastmod>{{ blog.modify }}</lastmod>
<changefreq>monthly</changefreq>
<priority>1.0</priority>
</url>
	{% endfor %}

        {% for album in albums %}
<url>
<loc>http://{{path}}{{album.path}}</loc>
<lastmod>{{ album.modify }}</lastmod>
<changefreq>monthly</changefreq>
<priority>1.0</priority>
</url>
        {% endfor %}

        {% for video in videos %}
<url>
<loc>http://{{path}}{{video.path}}</loc>
<lastmod>{{ video.modify }}</lastmod>
<changefreq>monthly</changefreq>
<priority>1.0</priority>
</url>
        {% endfor %}


</urlset>
